__pycache__/
*.pyc
*.log
myenv/
venv/
.venv/
server.out.log
server.err.log
api_config.json
instance/
database/
logs/
static/uploads/*
static/results/*
static/videos/*
static/video_results/*
!static/uploads/.gitkeep
!static/results/.gitkeep
!static/videos/.gitkeep
!static/video_results/.gitkeep
